/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* common ----------------------------------------------------------------------*/
body{
    font-family: sans-serif;
}

#app{
    height: 100vh;
    width: 100%;
    background: linear-gradient(#009688 20vh,#DADBD3 20vh,#DADBD3 100vh);
    display: flex;
    justify-content: center;
    padding: 3rem 0rem;
    
}

.container{
    width: 80%;
    min-width: 900px;
    max-width: 1500px;
    height: 90%;
    max-height: 1000px;
    min-height: 450px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    margin: 0 auto;
}

.actions{
    list-style-type: none;
    height: 100%;
    align-items: center;
}

.actions li a{
    margin-right: 10px;
    font-size: 15px;
    text-decoration: none;
}

/* flex util. */

.fl{
    display: flex;
}

/* typografy */
h3{
    font-size: .7rem;
    color: black;
}

a{
    font-size: .7rem;
    color: #B1B1B1;
}

h2{
    color: black;
    font-size: 1rem;
    margin-top: .2rem;
}

p{
    font-size: .7rem;
    margin-top: .2rem;
}
/* layout------------------------------------------------------------------------------ */
.col{
    height: 100%;
}

.left{
    width: 30%;
    background-color: #fff;
    border-right: 1px solid #f1f1f1;
    flex-direction: column;
    color: #B1B1B1;
}

.right{
    width: 70%;
    flex-direction: column;
    background-color: #EAEAEA;
}

/* common components */
.header{
    height: 80px;
    min-height: 80px;
    background-color: #EAEAEA;
    align-items: center;
    padding: .5rem .5rem;
    justify-content: space-between;
}

main{
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
    padding: 1.5rem 1rem;
}

.right footer{
    height: 80px;
    width: 100%;
}

.cnt-row{
    display: flex;
    padding: .3rem .5rem;
}

/* left column internal layout & Styling----------------------------------------------- */
/* user info */
.user-info{
    align-items: center;
}

.img{
    min-width: 50px;
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
    object-fit: cover;
}

/* call to action */
.cta{
    background-color: #8EDAFC;
    width: 100%;
    height: 80px;
    align-items: center;
}

.cta-img{
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    background-color: #fff;
    margin-right: 10px;
}

/* search bar */
.search-bar{
    height: 40px;
    background-color: #FAFAFA;
    padding:  .3rem .5rem;
}

.search-bar input{
    flex-grow: 1;
    border-width: 1px;
    border-style: none;
    border: 1px solid #f1f1f1;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: 0;
}

.btn{
    align-items: center;
    justify-content: center;
    width: 30px;
    margin-right: -2px;
    background:none;
    border-width: 1px;
    background-color: #fff;
    border: 1px solid;
    border-color: #f1f1f1;
    color: #B1B1B1 ;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

/* contact list */
.contact-list{
    height: 100%;
    overflow-y: auto;
}
.contact-img{
    min-width: 50px;
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
    object-fit: cover;
}

.contact-info{
    flex-grow: 1;
}

.cnts{
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
}

/* Right Column & main styling -------------------------------------------------------- */
.contact-info p{
    font-size: 15px;
    color: #B1B1B1;
}

.active {
    background-color: #E9EBEB ;
}

.message{
    display: inline-block;
    min-width: 20%;
    max-width: 60%;
    min-height: 50px;
    word-wrap: break-word;
    padding: .5rem .8rem;
    justify-content: space-between;
    border-radius: 13px;
}

.message-row{
    flex-direction: column;
    margin-bottom: 10px;
}


.message .date{
    text-align: right;
    color: #B1B1B1;
}

.sent{
    background-color: #D5F9BA;
    align-self: end;
    text-align: left;
}

.reciv{
    background-color: #fff;
    align-self: start;
    text-align: left;
}

.sent span{
    margin-right: 60px;
}

.reciv span{
    margin-right: 60px;
}

/* user interactions-------------------------------------------------------------------- */
footer{
    padding: .5rem .8rem;
    align-items: center;
    justify-content: space-between;
}

footer>div{
    height: 100%;
}

.interactions{
    width: 10%;
    justify-content: center;
    align-items: center;
}

.interactions a{
    font-size: 25px;
}

.message-input{
    flex-grow: 1;
    align-items: center;
}

.message-input input{
    height: 40px;
    width: 100%;
    outline: 0;
    border-style: none;
    padding: 0 .8rem;
    border-radius: 8px;
}

